
<div id="Home_Index_Background">
  <img src="~/Content/Images/FrontPage.jpg" alt="Driving Down The Road Photo" />
</div>
<div id="Color_Overlay">
  <div id="Image_Text_Overlay">
    <div class="jumbotron">

      <h1 style="font-size:5em;">Are your auto insurance rates too high?</h1>
      <h2>
        Well,... you've come to the right place!
      </h2>
      <h2>WELCOME To...</h2>
      <h1>Auto Insurance Connection </h1>
      <p>
       
        <span>
        Our Mission: To Deliver Exceptional Coverage at The Best Price Ever!!!
        </span>
      
      <br /><br />
      <span> The Process:</span>
      &#64Auto Insurance Connection, your policy is precisely crafted based on three key factors:<br />
      Lifestyle, Budget, and Coverage Level Requirements. <br /><br />
      <span>The Result:</span>
      <p>
        A top-notch Auto Inurance Solution that is custom-made and tailor-fit just for you! <br /> Life is like a Road Trip... everyone's experience is unique and so are their insurance needs!<br />So, take a minute and do yourself a favor...<br /><br>
        No Hassles. No Gimmicks. No Pressure. No Surprises... and No Hidden Fees.<br />
        <span> Join US! and Let The Good Times Roll...</span>
        <br />
  </p>
        @Html.ActionLink("GET A FREE QUOTE NOW!", "Create", "Insuree", null, new { @id = "Free", @class = "btn btn-lg btn-info" })
      
    </div>
  </div>
</div>


